<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="box-3">
      <h1>Yaqin aloqalarim</h1>

      <ol>
        <% contact.forEach((contact) => { %>
        <li class="name-li"><%=contact.username %> - <%=contact.phone %></li>
        <% }) %>
      </ol>
    </div>

    
  </body>
</html>


