<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
   <%- include("./partials/nav.ejs") %>

     <div class="box-2">
      <h1>Foto va videolar</h1>
        <img style="width: 600px;" src="/fon_2.jpg" alt="fon" />
        <img style="width: 600px;" src="/fon_3.jpg" alt="fon" />
        <img style="width: 600px;" src="/fon_5.jpg" alt="fon" />
        <img style="width: 600px;" src="/fon_1.jpg" alt="fon" />
     </div>
  </body>
</html>
