<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <h2>Foydalanuvchini ID orqale tahrir qilish.</h2>
    <form action="/get-user" method="post" id="post-form">
      <label for="userId">User Id</label>
      <input type="number" name="userId" id="userId"> <br><br>
      
    
      <button type="submit">Info user</button>
    </form>

    
  </body>
</html>




