<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="box-6">
      <h1>Barcha postlar.</h1>
      <ol>
        <% menyu.forEach((menyu) => { %>
        <li>
          <a class="name-user" href="/menyu/<%= menyu.id %>">
            <%=menyu.title %>
          </a>
        </li>

        <% }) %>
      </ol>

      <h3>
        <a class="name-a" href="/get-user">Foydalanuvchi haqida malumot.</a>
      </h3>
    </div>
  </body>
</html>
